[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name={{{ long-name }}}
Exec=rebar3 as playlist-add lfe run -- name:{{{ short-name }}} type:mod source:{{{ module }}}
Comment=undermidi {{{ category }}}: {{{ long-name }}}
Path={{{ exec-dir }}}
X-KeepTerminal=false
Name[en_GB]={{{ long-name }}}
Comment[en_GB]=undermidi {{{ category }}}: {{{ long-name }}}